@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap');
*{
    font-family: 'Nunito',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    text-transform: capitalize;
    
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background-color: black;
    overflow-x: hidden;
    padding-left: 35rem;
}
section{
    min-height: 100vh;
    padding: 1rem;
}
/*la barra di navigazione*/
header .barra{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background-color: #1a1a1a;
    /*display: block;*/
    display: flex;
    flex-flow: column;
    align-items: center; 
    justify-content: center;
    text-align: center;

}
header .barra .bordo_immagine {
    display: inline-block;
    border-radius: 50%;
    padding: 1rem;
    background: linear-gradient(to right, #f06, #3cf);
}
header .barra .bordo_immagine img {
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
}
header .barra .utente #nome{
    font-size: 3rem;
    color: #fff;
}
header .barra .utente #lavoro{
    font-size: 2rem;
    color: #eee;
}
header .barra .navbar{
    width: 100%;

}
header .barra .navbar ul{
    list-style: none;
    padding: 1rem 3rem;
}
header .barra .navbar ul li a{
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: #333;
    color: #fff;
    font-size: 2rem;
    border-radius: 5rem;
}
header .barra .navbar ul li a:hover{
    background: linear-gradient(to right, #f06, #3cf);
    transform: scale(1.1);
   
}
#menu{
    position: fixed;
    top: 2rem;
    right: 2rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding:1rem 1.5rem;
    z-index: 1000;
    display: none;
}
/*sezione home */
.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
}
.home h3{
    font-size: 2.5rem;
    color: #fff;
}
.home h1{
    font-size: 5rem;
    color: #fff;
}
.home h1 span{
    background: linear-gradient(to right, #ff0000, #0000ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.home p{
    font-size: 2rem;
    color: #fff;
    padding: 1rem 0;
}
.bot{
    padding:1rem 3rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;

}
.bot i{
    padding: 0.5rem;
    font-size: 1.8rem;

}
.bot:hover{
    background: linear-gradient(to right, #f06, #3cf);
    transform: scale(1.1);
}
/*sezione hobby*/
.hobby h1{
    text-align: center;
    margin: 0.6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: .1rem solid #fff4;
    color: #fff;
}
.hobby h1 span{
    color: yellow;
}
.allineare{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
}
.hobby .box{
    width: 37rem;
    background-color: #222;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
    margin-top: 1rem;
    border-radius: 3rem;
    overflow: hidden;
    cursor: pointer;

}
.hobby .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hobby .box p{
    margin-top:1rem ;
    font-size: 2rem;
    color: #fff; 
}
/*sezione contati*/
.contati h1{
    text-align: center;
    margin: 0.6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: .1rem solid #fff4;
    color: #fff;
}
.contati h1 span{
    color: yellow;
}
.contati .allineare_cont {
    display: block;
    text-align: center;
    padding: 2rem 0;
} 
.contati .allineare_cont .box_contati {
    display: inline-block;
    width: 37rem;
    background-color: #222;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
    margin-top: 1rem;
    border-radius: 3rem;
    overflow: hidden;
    cursor: pointer;
}
.contati .allineare_cont .box_contati:hover{
    background: linear-gradient(to bottom, #e61ee3, #009dff);
    transform: scale(1.1);
}
.contati .allineare_cont .box_contati img{
    width: 70%;
    height: 100%;
    object-fit: cover;

}
.contati .allineare_cont .box_contati p{
    color: #fff;
    font-size: 2rem;
    margin-top: 0.5rem;
}
/*Pagine dei Esercizi*/
table{
    color: #000;
    border: 1px solid;
    margin-top: 1rem;
    width:100%;
}
table tr td{
    font-size: 2rem;
}
table tr td a{
    text-decoration: none;
    color: #fff;
}
/*colore dell tabelle delle righe dispari*/
tr{
	background-color: #6b5d5d;; 
} 
/*colore della tabella delle righe pari*/
tr:nth-child(1) { 
   background-color: rgba(105, 110, 110 , 0.40);
}
.es h1{
    text-align: center;
    margin: 0.6rem;
    font-size: 4rem;
    padding: 1rem;
    color: yellow;
}
.es h2{
    text-align: left;
    margin: 0.6rem;
    font-size: 2rem;
    padding: 1rem;
    border-bottom: .1rem solid #fff4;
    color: yellow;
}
/* footer */
footer{
    background-color: #333;
}
footer .contati{
    padding: 1rem 0;
    text-align: center ;
}
footer .contati a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: 0.1rem solid #fff;
    margin: 0.3rem;
    border-radius: 50%;
}
footer .contati a:hover{
    background-color: rgb(206, 242, 116);
    color: #000;
}
footer .creato{
    font-size: 1.5rem;
    color: #fff;
    padding: 1.5rem;
    text-align: center;
}
footer .creato span{
    color: orange;
}
/* media query */
@media(max-width:1200px){
    html{
        font-size: 55%;
    }
    .home{
        padding: 1rem,4rem;
    }
}
@media(max-width:991px){
    html{
        font-size: 45%;
    }
    header .barra{ 
        left: -120%;
        visibility: hidden;
        transition: 0.5s;
        width: 35rem;
    }
    header #menu{
        display: flex;
        cursor: pointer;
    }
    #menu:focus ~ .barra {
        visibility: visible; 
        left: 0;
    }
    #menu:focus + header li{
        left: 0;
        
    }
    body{
        padding:0;
    }
    
}


